---
layout: default
stylesheets:
  - /css/index.css
---

<main class="index">
  <c-layout>
    <header class="header">
      <screen-play shadow class="about">
        <text-style display>About me</text-style>
        <text-style>
          <p>Hey there! I'm
            <text-style subheading>Willson.</text-style>
            I'm a front-end web developer and Design Technologist at Shopify.</p>
          <p>I like movies, anime, videogames, and long walks off short piers.</p>
        </text-style>
      </screen-play>
    </header>

    <c-layout-item type="full">
      <div class="project-container">
        {%- for project in collections.project -%}
          <div class="project">
            <a href="{{ project.data.projectUrl }}" class="game-image">
              <div class="game-image__name">
                <text-style display>{{project.data.title}}</text-style>
              </div>
              <div class="project-hero">
                {% heroImage project.data.hero, "project preview", "(min-width: 30rem) 10vw, 30vw, 50vw" %}
              </div>
            </a>
          </div>
        {%- endfor -%}
      </div>
    </c-layout-item>
    <c-layout-item type="full" class="rotate-left">
      <film-strip background-color="var(--theme-color-white)" color="var(--theme-color-black)"></film-strip>
      <infinite-carousel class="film-list" direction="left" item-width="200">
        {% for poster in letterboxd.recentlyWatched %}
          <infinite-carousel-item>
            <a href="{{poster.url}}">
              {% picture poster.src, poster.alt %}
            </a>
          </infinite-carousel-item>
        {% endfor %}
      </infinite-carousel>
      <film-strip background-color="var(--theme-color-white)" color="var(--theme-color-black)"></film-strip>


    </c-layout-item>
    <c-layout-item type="full">
      <infinite-carousel duration="2" item-width="300">
        {% for game in games %}
          <infinite-carousel-item>
            <a target="_blank" href="{{game.website}}" class="game-image">
              <div class="game-image__name">
                <text-style display>{{game.name}}</text-style>
              </div>
              {% assign screenshot = game.screenshots[0].path_full %}
              {% picture screenshot, game.name %}
            </a>
          </infinite-carousel-item>
        {% endfor %}
      </infinite-carousel>
    </c-layout-item>
  </c-layout>
</main>