---
layout: default
stylesheets:
  - /css/index.css
---

<main>
  <c-layout>
    <header class="header">
      <screen-play rotate="-1deg">
        <h1>
          <text-style title>Willson</text-style>
        </h1>
        <div>Front-end developer</div>
        <div>Design Technologist at
          <a class="sh-link" href="https://shopify.ca">Shopify</a>
        </div>
      </screen-play>
    </header>
    <c-layout-item type="full">
      <div class="film-strip-segment">
        <div class="film-strip-segment__content">
          <film-strip class="right" color="var(--theme-color-black)"></film-strip>
        </div>
      </div>
      <c-layout>
        <screen-play class="what-title" style="color: var(--theme-color-black)">
          <text-style display>What I'm watching</text-style>
        </screen-play>
        <c-layout-item type="full" class="highlight">
          <c-poster-list class="poster-carousel">
            {% for poster in letterboxd.recentlyWatched %}
              <c-poster src="{{poster.src}}" alt="{{poster.alt}}" url="{{poster.url}}" sources='{{ poster.sources | JSONStringify }}'></c-poster>
            {% endfor %}
          </c-poster-list>
        </c-layout-item>
      </c-layout>
    </c-layout-item>
    <screen-play shadow class="about">
      <text-style title>About me</text-style>
      <text-style>
        <p>Hey there! I'm Willson. I'm a front-end web developer and Design Technologist at Shopify.</p>
        <p>I like movies, anime, videogames, and long walks off short piers.</p>
      </text-style>
    </screen-play>
  </div>
  <c-layout-item type="full">
    <div class="film-strip-segment">
      <div class="film-strip-segment__content">
        <film-strip class="left" color="var(--theme-color-black)"></film-strip>
      </div>
    </div>
  </c-layout-item>
  <screen-play class="what-title">
    <h2>
      <text-style display>What I'm working on</text-style>
    </h2>
    <p>Turn this into swipe panels using component from other project</p>
  </screen-play>
  <c-layout-item type="full" class="page-content highlight">

    <div class="project-container">
      {%- for project in collections.project -%}
        <div class="project">
          <div class="project__title">
            <text-style underline subheading>{{project.data.title}}</text-style>
          </div>
          <a href="{{ project.data.projectUrl }}">
            <div class="project-hero">
              {% heroImage project.data.hero, "project preview", "(min-width: 30rem) 10vw, 30vw, 50vw" %}
            </div>
          </a>
        </div>
      {%- endfor -%}
    </div>
  </c-layout-item>
  {%- comment -%}
    <c-layout-item type="full">
    <film-strip color="var(--theme-color-black)"></film-strip>
    </c-layout-item>
  {%- endcomment -%}

</main>