---
layout: default
stylesheets:
  - /css/index.css
---

<main>
  <c-layout>

    <c-layout-item type="full">
      <div class="about">
        <div class="about-image">
          <img src="/img/man.jpg" />
        </div>
        <div class="about-content">
          {{ content }}
        </div>
      </div>
    </c-layout-item>

    <div class="movies-title">
      <h2>Movies</h2>
      <p>What I've been watching</p>
    </div>
    <c-layout-item type="full" class="poster-carousel-wrap">
      <c-poster-list class="poster-carousel">
        {% for poster in letterboxd.recentlyWatched %}
          <c-poster
            src="{{ poster.src }}"
            alt="{{ poster.alt }}"
            url="{{ poster.url }}">
            {% for source in poster.sources %}
              <source srcset="{{ source.srcset }}" type="{{ source.type }}">
            {% endfor %}
          </c-poster>
        {% endfor %}
      </c-poster-list>
    </c-layout-item>
  </c-layout>
</main>
